<%= form_with(model: stock) do |form| %>
  <% if stock.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(stock.errors.count, "error") %> prohibited this stock from being saved:</h2>

      <ul>
        <% stock.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row">
    <div class="col-auto mb-2">
      <%= form.label "Enter Company Ticker Symbol:", style: "display: block" %>
      <%= form.text_field :ticker, placeholder: "e.g. 'AAPL'", class: "form-control" %>
    </div>

    <div class="col-2 mb-2 d-flex align-items-end">
      <%= form.submit class: "btn btn-success" %>
    </div>

    <div class="col-1">
      <%= form.number_field :user_id, value: current_user.id, type: :hidden %>
    </div>
  </div>
<% end %>