<div>
  <p><%= stock_name.stocks[0].name %></p>
  <p><%= stock_quote.symbol %></p>
  <p>$<%= stock_quote.price %></p>
  <p><%= stock_quote.change %>%</p>
</div>

   <%= render 'stock', :stock_quote => stock_quote %>
