 <%= image_tag(profile["logo"], alt: "Company logo for #{profile["name"]}") %>

  <div class="card-body">
    <h5 class="card-title"><%=profile["name"]%></h5>
    <h6> (<%= profile["ticker"] %>)</h6>

    <% if quote["dp"] > 0 %>
      <p class="card-text">Current: $<%= quote["c"] %> ( +<%=  number_with_precision(quote["dp"], :precision => 2, :delimiter => '.')%> %)</p>
    <% else %>
      <p class="card-text">Current: $<%= quote["c"] %> ( <%=  number_with_precision(quote["dp"], :precision => 2, :delimiter => '.')%> %)</p>
    <% end %>
  </div>

