<%= image_tag(profile["logo"], alt: "Company logo for #{profile["name"]}") rescue image_tag("tradepal_logo", alt: 'Company logo not available - TradePal logo shown') %>
<div class="card-body">
  <h5 class="card-title"><%= profile["name"] || "N/A" %></h5>
  <h6>(<%= profile["ticker"] || "N/A" %>)</h6>

  <% sign = quote["dp"] > 0 ? "+" : "" %>  
  <p class="card-text">Current: $<%= quote["c"] || "N/A" %> (<%= sign || "N/A" %><%= precision(quote["dp"]) || "N/A" %>%)</p>
</div>