<div class="container mt-5">
  <div class="row d-flex justify-content-center">
    <div class="card detail-card col-sm-8 col-md-6 col-lg-4 col-xl-3">
      <%= image_tag(profile["logo"], alt: "Company logo for #{profile["name"]}", :class => "details-img") %>
      <div class="card-body text-center">
        <h5 class="card-title"><%= profile["ticker"] %></h5>
      </div>
    </div>
    <div class="card detail-card col-sm-8 col-md-6 col-lg-4 col-xl-3 d-flex justify-content-center text-center">
      <div class="row">
        <table class="table">
        <thead colspan="2" style="font"><h5><%= profile["name"] %> Details</h5></thead>
        <tbody>
          <tr>
            <td>Current Price:</td>
            <td>$<%= quote["c"] %></td>
          </tr>
          <tr>
            <td>Previous Close:</td>
            <td>$<%= quote["pc"]%></td>
          </tr>
          <tr>
            <td>Change (%)</td>
            <td><%= number_with_precision(quote["dp"], :precision => 2, :delimiter => '.') %>%</td>
          </tr>
          <tr>
            <td>Today's High:</td>
            <td>$<%= number_with_precision(quote["h"], :precision => 2, :delimiter => '.') %></td>
          </tr>
          <tr>
            <td>Today's Low</td>
            <td>$<%= quote["l"] %></td>
          </tr>
          <tr>
            <td>52 Week High:</td>
            <td>$<%= metric["metric"]["52WeekHigh"] %></td>
          </tr>
          <tr>
            <td>52 Week Low:</td>
            <td>$<%= metric["metric"]["52WeekLow"] %></td>
          </tr>
        </tbody>
      </table>
      </div>
    </div>
  </div>
</div>