<h1>My Portfolio</h1>

<div id="stocks">
  <% @stocks.each do |stock| %>
    
    <% quote_response = (@finnhub_client.quote(stock.ticker)).to_json %>
    <% quote_hash = JSON.parse(quote_response) %>

    <% profile_response = (@finnhub_client.company_profile2({symbol: stock.ticker})).to_json %>
    <% profile_hash = JSON.parse(profile_response) %>


    <p>Current Price: $<%= quote_hash["c"] %></p>
    <p>Company: <%= profile_hash["name"] %></p>
    <p>Ticker: <%= profile_hash["ticker"] %></p>
      
    <p>
      <%= link_to "Show Details", stock %>
      <%= link_to "Delete", stock, data: { turbo_method: :delete, turbo_confirm: "Are you sure you want to delete this stock?" }, class: "btn btn-danger mx-1" %>
    </p>

  <% end %>
</div>

<%= link_to "New stock", new_stock_path %>
