<h1>Home</h1>
<p>Search Stocks:</p>

<%= form_tag '#', method: :get do %>
  <%= text_field_tag :stock, params[:stock], placeholder: "Enter Company Ticker Symbol e.g. 'AAPL'", size: 35 %>
  <%= submit_tag 'Search' %>
<% end %>

<% if @stock %>
  <%= @stock.company_name %>
  <br />
  $<%= @stock.latest_price %>
<% end %>